.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

.card.service {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.service__icon {
    background: var(--color-primary);
    padding: 0.6rem;
    border-radius: var(--border-radius-3);
    font-size: 1.5rem;
    color: var(--color-white);
    transition: var(--transition);
}

.service:hover .service__icon {
    background: var(--color-light);
    color: var(--color-primary);
}

.service {
    position: relative; /* Para posicionar el badge dentro de la tarjeta */
    overflow: hidden;
}

.service h4 {
    margin-bottom: 0.7rem;
}

.service__badge {
    position: absolute;
    top: 8px;
    right: -25px;
    background-color: rgba(255, 69, 58, 0.9); /* Cambié el color a un rojo translúcido */
    color: white;
    padding: 0.4rem 2rem;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.3rem;
    transform: rotate(45deg);
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite;
}

/* Cambiar el color del badge al hacer hover si es necesario */
.service:hover .service__badge {
    background-color: rgba(255, 69, 58, 1); /* Color más sólido al hacer hover */
}

/* Animación para que el badge tenga un efecto de pulsado */
@keyframes pulse {
    0% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
    50% {
        transform: scale(1.1) rotate(45deg);
        opacity: 0.8;
    }
    100% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .services__container {
        gap: 1.5rem;
    }
}


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .card.service {
        gap: 1.2rem;
    }
}